<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1>Weather Search</h1>

<form action="/" method="post">
    <div class="input-wrapper">
    <input type="text" name="cityName" id="cityInput" placeholder="Enter City Name">
    <button type="submit">Get Weather</button>
    </div>
</form>
<div class="result" id="result"> <%= result %> </div>
</div>
</body>
</html>